$white: #fff;

$primary_main: rgba(43, 169, 205, 1);
$primary_light: rgba(81, 203, 206, 1);

$secondary_main: rgba(64, 61, 57, 1);
$secondary_light: rgba(102, 97, 91, 1);

$success_main: rgba(40, 167, 69, 1);
$success_light: rgba(107, 208, 152, 1);

$danger_main: rgba(243, 56, 22, 1);
$danger_light: rgba(245, 89, 61, 1);

$warning_main: rgba(223, 160, 23, 1);
$warning_light: rgba(251, 198, 88, 1);

$info_main: rgba(52, 181, 184, 1);
$info_light: rgba(81, 203, 206, 1);
