@font-face {
  font-family: "RaviPrakash";
  src: url("../../public/RaviPrakash-Regular.ttf");
}

.navpanel {
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  box-sizing: border-box;
  height: 90px;
  background-color: #363237; // Темно-фиолетовый
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: background 0.5s ease-in;

  & > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;
  }

  & > div:last-child {
    margin-right: 0;
  }

  & .title {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: "RaviPrakash";
    color: #f1f3ce; // слоновая кость
    font-size: 1.7rem;
    & > *:first-child {
      margin-left: 10px;
      margin-right: 3px;
    }
  }

  &_transparent {
    background-color: transparent;
  }
}
